

<app-nav-bar></app-nav-bar>

<div class="fullpage">

    <p *ngIf="booking"nn>
        client works!
        {{booking|json}}
      </p>
      
      
      <div class="s4 container formClient">


        <form class="form-container amber lighten-4  col s6" (ngSubmit)="addClient(myFormClient)" #myFormClient="ngForm">
      
            <div class="input-field col s6 input-center">
                <i class="material-icons prefix">account_circle</i>
          <label for="name">Name</label>
          <input  [(ngModel)]="name" placeholder = "your name"type="text" name="name" id="name">
         </div>
         <div class="input-field col s6 input-center">
            <i class="material-icons prefix">email</i>
        <label for="email">Email</label>
        <input  [(ngModel)]="email" placeholder = "your email"type="text" name="email" id="email">
        </div>
        <div class="input-field col s6 input-center">
            <i class="material-icons prefix">lock</i>

          <label for="password">Password</label>
          <input  [(ngModel)]="password" placeholder = "Enter your password"type="password" name="password" id="password">
         </div>
          
      
         <button class="btn waves-effect waves-light" type ="submit">Add client</button>
        
        </form>
      
      </div>
      
</div>




