<app-admin-nav></app-admin-nav>

<section class="container">
  <div class="fullpage">
      <p>
          My list of clients!
        </p>

  </div>
  
  <ag-grid-angular #agGrid style="width: 100%; height: 350px;" class="ag-theme-material"


  [gridOptions]="gridOptions"
  [columnDefs]="columnDefs"

  [rowData]="rowData"


  enableColResize
  enableSorting
  enableFilter
  groupHeaders
  suppressRowClickSelection
  toolPanelSuppressGroups
  toolPanelSuppressValues
  rowHeight="50"
  rowSelection="multiple"


                    
                     (cellDoubleClicked)="onCellDoubleClicked($event)"
                     (selectionChanged)="onSelectionChanged()"
                     (beforeFilterChanged)="onBeforeFilterChanged()"
                     (afterFilterChanged)="onAfterFilterChanged()"
                     (filterModified)="onFilterModified()"
                     (beforeSortChanged)="onBeforeSortChanged()"
                     (afterSortChanged)="onAfterSortChanged()"
                     (rowClicked)="onRowClicked($event,myFormClient)"
                     (gridReady)="onReady()"


  ></ag-grid-angular>

 

  <form  class="form "  #myFormClient="ngForm" >
    
     <div class="row">
      <div class="input-field col s6">
        <input  [(ngModel)]="name" value="Alvin" id="first_name2" type="text" class="validate" name="first_name2">
        <label class="active" for="first_name2">First Name</label>
      </div>
    </div>
    <div class="row">
        <div class="input-field col s6">
          <input  [(ngModel)]="email"  id="email" type="text" class="validate" name="email">
          <label class="active" for="email">Email</label>
        </div>
      </div>
      <p>
        <label>
          <input type="checkbox" class="filled-in" checked="checked" />
          <span>Filled in</span>
        </label>
      </p>
      <p>
        <label>
          <input id="indeterminate-checkbox" type="checkbox" />
          <span>Indeterminate Style</span>
        </label>
      </p>
      <p>
        <label>
          <input type="checkbox" checked="checked" disabled="disabled" />
          <span>Green</span>
        </label>
      </p>
      <p>
        <label>
          <input type="checkbox" disabled="disabled" />
          <span>Brown</span>
        </label>
      </p>
    </form>
          


</section>