<nav class="white" role="navigation">
  <div class="nav-wrapper container">
    <a id="logo-container" href="#" class="brand-logo">YEVANA</a>
    <ul class="right hide-on-med-and-down">
        <li> <a [routerLink]="['/']"> Home </a> </li>
        <li> <a href="#"> Log Out </a> </li>
        <li> <a [routerLink]="['/admin/bookings']"> Bookings </a> </li>
        <li> <a [routerLink]="['/admin/season']"> Seasons </a> </li>
        <li> <a [routerLink]="['/admin/users']"> Clients </a> </li>
        <li> <a [routerLink]="['/']"> Back to commercial site</a> </li>
      
    </ul>

    <ul id="nav-mobile" class="sidenav">
        <li> <a [routerLink]="['/']"> Home </a> </li>
        <li> <a href="#"> Log Out </a> </li>
        <li> <a [routerLink]="['/admin/bookings']"> Bookings </a> </li>
        <li> <a [routerLink]="['/admin/season']"> Seasons </a> </li>
        <li> <a [routerLink]="['/admin/users']"> Clients </a> </li>
        <li> <a [routerLink]="['/']"> Back to commercial site</a> </li>
    </ul>
    <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
  </div>
</nav>
