
.form{
    display:flex;
    flex-flow:row;
 
   justify-content: space-between;

   text-align: center;
   
   border: 1px solid darkcyan;
}
.column{
   
    width:50%;
}
.input{
 width:100%;
}


.ag-cell {
    padding-left: 0;
    padding-right: 0;
}
