<app-admin-nav></app-admin-nav>
<section class="container fullpage">
    <ag-grid-angular #agGrid style="width: 100%; height: 350px;" class="ag-theme-material"


    [gridOptions]="gridOptions"
    [columnDefs]="columnDefs"
    [showToolPanel]="showToolPanel"
    [rowData]="rowData"


    enableColResize
    enableSorting
    enableFilter

 

    ></ag-grid-angular>

              

        <fusioncharts
        [width]="width1"
        [height]="height1"
        [type]="type1"
        [dataFormat]="dataFormat1"
        [dataSource]="dataSource1">
    </fusioncharts>
    
    <fusioncharts
        [width]="width2"
        [height]="height2"
        [type]="type2"
        [dataFormat]="dataFormat2"
        [dataSource]="dataSource2">
    </fusioncharts>
</section>


