<app-admin-nav></app-admin-nav>
<section class="container fullpage">
    <ag-grid-angular 
    style="width: 500px; height: 200px;" 
    class="ag-theme-balham"
    [enableSorting]="true"
    [enableFilter]="true"
    [rowData]="rowData || async" 
    [columnDefs]="columnDefs"
    >
</ag-grid-angular>
              

        <fusioncharts
        [width]="width1"
        [height]="height1"
        [type]="type1"
        [dataFormat]="dataFormat1"
        [dataSource]="dataSource1">
    </fusioncharts>
    
    <fusioncharts
        [width]="width2"
        [height]="height2"
        [type]="type2"
        [dataFormat]="dataFormat2"
        [dataSource]="dataSource2">
    </fusioncharts>
</section>


