.contactlist{
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-around;
    align-items: flex-start;
    text-align: left;
    align-content: flex-start;

}

.col{
    border:solid 2px black;
}

.card-image {
    margin: 0 0;
    align-content: center;
}

.row{
    border:solid 2pz red;
}
.contact{
    margin:5px;
    margin-bottom:20px;
    box-sizing: border-box;
    width: 30%;
}




.card-action{
    background-color:teal;
}






