<app-nav-bar></app-nav-bar>

<h1>
    My Vans
  </h1>

  <section class="contactlist container">
  <div class="col s6 m2" class="contact" *ngFor= "let van of vans">
      <h2 class="header">{{van.brand}}</h2>
      <div class="card">
        <div class="card-image">
        
            <img src="assets/images/{{van.image}}" alt="imagen de van">
        </div>
        <div class="card-stacked">


          <div class="card-content">
              <p>{{van.description.short}}</p>
          </div>

          <p> <i class="material-icons">build</i>  {{van.features.motor}}  <i class="material-icons">local_gas_station</i>   {{van.features.fuel}} </p>
          <p> <i class="material-icons">group</i>  {{van.features.pax}}  <i class="material-icons">hotel</i>   {{van.features.beds}} </p>
          <div class="card-action">
        
            <a  [routerLink]="['/alquiler', van._id]" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">Book</i></a>
          </div>
    
        </div>
      </div>
    </div>
    <div>

    
    
    </div>
  </section>