.ng-touched {
    border-color: blue;
  }
  
  .ng-touched.ng-invalid {
    border-color: red;
  }
  
  .ng-touched.ng-valid {
    border-color: green;
  }


  .box{
    border-radius: 5%;
    margin:10px 10px;
    text-align: center;
  
}
.card{
  margin-right: 10px;
}
.border{
  border: dashed black 2px;
}

  