<app-nav-bar></app-nav-bar>

<div class="row container col s4 m2">
  
    This is the page for the van: {{contactId }}
  
  
  {{diagnostic}}
  
  <button (click)="showDetails()">Details</button>
  <div   *ngIf="van" class="card col s6">
    <img class="circle responsive-img" src="assets/images/{{van.image}}" alt="image of van" >
    <p>{{van.description.long}}</p>
    <p>{{van.name}}</p>
  </div>

  <button (click)="showBookings()">Details of bookings</button>
  <div   *ngIf="bookingListbyVan" class="card col s6" >
    <div   *ngFor="let booking of bookingListByVan">
<div>
         <p>HOLA</p>
        <p>{{b.startDate}}</p>
        <p>{{b.endDate}}</p>
</div>
    
    </div>
  </div>
  <div *ngIf="booking">
<p>BOOKING MADE!</p>
<p>{{booking.startDate}}</p>
<p>{{booking|json}}</p>
  </div>


  <div class="s4">
    <form class="form" (ngSubmit)="addBooking(myForm,contactId)" #myForm="ngForm">
  
      <div class="s2" >
        <label for="booking-startDate">Pick the start date</label>
        <p-calendar [showIcon]="true"  name="startDate" [disabledDates]="invalidDates" 
        [(ngModel)]="newDate.startDate" [minDate]="minDateValue" [maxDate]="maxDateValue"
         [readonlyInput]="true" >
         <p>{{newDate.startDate}}</p>
        
        </p-calendar>
      </div>
      
      <div class=" s2">
        <label for="booking-endDate">Pick the end date</label>
        <p-calendar [showIcon]="true" name="endDate" [(ngModel)]="newDate.endDate"
         [disabledDates]="invalidDates" >  
        
       
        </p-calendar>
       
        <p>{{newDate.endDate}}</p>
      </div>
      <button class="btn waves-effect waves-light" type ="submit">Submit New Booking</button>
    
    </form>

  </div>
  
 
 

</div>


