<app-nav-bar></app-nav-bar>

<div class="row container col s4 m2">
  
    This is the page for the van: {{contactId }}
  
  
  {{diagnostic}}
  
  <button (click)="showDetails()">Details</button>
  
  <div   *ngIf="van" class="card col s6">
    <img class="circle responsive-img" src="assets/images/{{van.image}}" alt="image of van" >
    <p>{{van.description.long}}</p>
    <p>{{van.name}}</p>
  </div>
  <div class="s4">
    <form class="form" (ngSubmit)="addBooking(myForm,contactId)" #myForm="ngForm">
  
      <div class="s2" >
        <label for="booking-startDate">Pick the start date</label>
        <input id="startDate" type="Date" [(ngModel)]="newDate.startDate" name="startDate" min="2018-08-10" max="2018-09-30" required >
      </div>
        <p>{{newDate.startDate}}</p>
      <div class=" s2">
        <label for="booking-endDate">Pick the end date</label>
        <input id="endDate" name="endDate" type="Date" [(ngModel)]="newDate.endDate" min="2018-08-10" max="2018-09-30" required >
        <p>{{newDate.endDate}}</p>
      </div>
      <button class="btn waves-effect waves-light" type ="submit">Submit New Booking</button>
    
    </form>

  </div>
  
 
 

</div>


